##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html
##  This template will parse information for step function to process
#set($allParams = $input.params())
{
  "waitType": $input.params('$.waitType'),
  "waitValue": $input.params('$.waitValue'),
  "callback_url": $input.params('$.callback_url'),
  "tag": $util.parseJson($input.body())
}
